<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-test}">
<th:block layout:fragment="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Floating labels Form</h5>

					<!-- Floating Labels Form -->
					<form id="searchForm" class="search-form row g-3">
						<div class="form-floating">
							<input type="text" class="form-control" id="floatingName" name="floatingName" placeholder="Your Name">
							<label for="floatingName">Your Name</label>
						</div>
						<div class="form-floating">
							<input type="text" class="form-control" id="floatingCity" name="floatingCity" placeholder="City">
							<label for="floatingCity">City</label>
						</div>
						<div class="form-floating">
							<select class="form-select" id="floatingSelect" name="floatingSelect" aria-label="State">
								<option selected="">New York</option>
								<option value="1">Oregon</option>
								<option value="2">DC</option>
							</select>
							<label for="floatingSelect">State</label>
						</div>
						<div class="form-floating">
							<input type="text" class="form-control" id="floatingZip" name="floatingZip" placeholder="Zip">
							<label for="floatingZip">Zip</label>
						</div>
						<div class="text-end"><!-- div class="text-end mt-0" -->
							<button type="button" class="btn btn-primary btn-sm" id="btnSelect">조회</button>
							<button type="button" class="btn btn-secondary btn-sm" id="btnInsert">추가</button>
							<button type="button" class="btn btn-success btn-sm" id="btnExcel">엑셀</button>
							<button type="button" class="btn btn-danger btn-sm" id="btnDelete">삭제</button>
							<button type="button" id="btnModal" class="btn btn-warning btn-sm d-none" data-bs-toggle="modal" data-bs-target="#modalPopup">
								<span>팝업</span>
							</button>
						</div>
					</form><!-- End floating Labels Form -->
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Datatables</h5>

					<div class="row">
						<div class="col-lg-12" id="tableMain">
							<!-- Table with stripped rows -->
							<table class="table"></table><!-- End Table with stripped rows -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="css">
	<link th:href="@{/assets/css/sample.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
	<script defer src="/assets/js/simple-toast.js"></script>

	<script th:inline="javascript" type="text/javascript">
        document.addEventListener('DOMContentLoaded', async() => {
            const createdGrid = initGrid('tableMain')
			btnSelect.addEventListener('click', (e) => {
		        if(createdGrid) {
		            createdGrid.resetData([])
		        }
		    })

		    btnInsert.addEventListener('click', (e) => {
		        // https://jsonplaceholder.typicode.com/posts/1/comments?perPage=3&page=1
		        fetch("https://jsonplaceholder.typicode.com/posts/1/comments")
		            .then((response) => response.json())
					.then((data) => {
						console.log(data)
						createdGrid.resetData(data)
					})
			})
        })
	</script>
</th:block>

</html>